# Don’t commit the following directories created by pub.
.buildlog
.pub/
.dart_tool/
build/
packages
.packages

# Include when developing application packages.
pubspec.lock

# ios files
.DS_Store

# Intellij
.idea/
*.iml
